div.weather-panel
  include $blocks/panels/weather/toolbar/_wp__toolbar
  include $blocks/panels/weather/background/_wp__background
  include $blocks/panels/weather/temperature/_wp__temperature
  include $blocks/panels/weather/description/_wp__description
  include $blocks/panels/weather/date/_wp__today-date
  include $blocks/panels/weather/location/_wp__location