aside.side-panels-container(id="open-side-panel")
  div.side-panels
    div.side-panels-inner
      div.weather-panel
        div.tool-bar
          button.search-btn Search for places
          button.material-icons.location-btn gps_fixed
          button.material-icons.close-btn(onclick="window.history.back()") close
          
        div.weather-pics
          img(src=require("../resources/images/shower.png"))
          
        div.main-temperature
          p 15
            span
              sup o
              | C
        h2.main-temperature-description Shower
        
        div.today-date
          p Today
          p •
          p Fri, 5 Jun
          
        div.location
          p
            span.material-icons.location-icon place
            | 
            span.city Helsinki

      div.search-panel
        div.search-bar
          input.search-input(type="search", placeholder="search location")
          button.material-icons.swap-panel-btn undo
        ul.city-list
          li London
            span.material-icons.forward-icon arrow_forward_ios
          li Barcelona
            span.material-icons.forward-icon arrow_forward_ios
          li Long Beach
            span.material-icons.forward-icon arrow_forward_ios
      
  a.side-panel-close-link(href="#", onclick="window.history.back()")