section.d__highlights
  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Wind status", "7", "mph")
    include $blocks/details/highlights/data/description/_d_h__data-description

  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Humidity", "84", "%")
    include $blocks/details/highlights/data/progress-bar/_d_h__data-progress-bar


  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Visibility", "6,4", "miles")

  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Air Pressure", "998", "mb")