section.d__highlights
  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Wind status", "--", "mph")
    include $blocks/details/highlights/data/description/_d_h__data-description

  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Humidity", "--", "%")
    include $blocks/details/highlights/data/progress-bar/_d_h__data-progress-bar

  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Visibility", "--", "miles")

  include $blocks/details/highlights/data/_d_h__data
  +highlights-data("Air Pressure", "--", "mb")