@forward "data/d_h__data";

@use "$blocks/details/base/base-section";
@use "$utils/utils";

.d__highlights {
  @include base-section.details-section;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  padding-bottom: var(--highlights-padding-bottom);

  @include utils.forDevice(default) {
    --highlights-padding-bottom: 0;
  }

  @include utils.forDevice(mobile) {
    --highlights-padding-bottom: calc(0.5 * var(--contentOffset));
  }
}