div.wp__toolbar
  button(
    class=`
      wp__search-button
      interactable`) Search for places

  button(
    class=`
      material-icons
      wp__location-button
      interactable`) gps_fixed
      
  button(
    onclick="window.history.back()" 
    class=`
      material-icons
      wp__close-button
      interactable`) close