:root {
  --crystal: #E7E7EB;

  --blue-800: #100E1D;
  --blue-700: #161629;
  --blue-600: #1E213A;
  --blue-500: #2e3264;
  --blue-400: #585676;
  --blue-300: #3C47E9;

  --gray-500: #6E707A;
  --gray-400: #88869D;
  --gray-300: #A09FB1;
  
  --yellow-400: #FFEC65;

  --silver-300: #b5b5bb;
  --silver-200: #cacad0;
  --silver-100: #ccccd4;

  --blue-600-transparent: rgba(30, 33, 58, 0.95);
  --silver-300-transparent: rgb(204, 204, 212, 0.70);
}