:root {
  --contentOffset: 30px;
  --toolbar-height: 4rem;
  --small-radius: 0.5rem;
  --layout-radius: 1rem;

  --middle-text: 3.2rem;
  --title-text: 2.4rem;
  --plain-text: 1.8rem;
  --regular-text: 1.6rem;
  --small-text: 1.4rem;

  --panel-width: 428px;
}