div.d_wf__day-forecast
  h3.d_wf__day-forecast-title.primary-text Tomorrow
  img.d_wf__day-forecast-image(src=require("$images/shower.png"))
  div.d_wf__day-forecast-temperature
    p.d_wf__day-forecast-max-temperature.primary-text 16
      span
        sup o
        | C
    p.d_wf__day-forecast-min-temperature.secondary-text 11
      span
        sup o
        | C