@use 'general';

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--contentOffset);
  padding: var(--contentOffset) calc(var(--content-horizontal-padding-ratio) * var(--contentOffset));
  background-color: var(--main-content-background);
  border-top-right-radius: var(--main-content-corner-radius);
  border-bottom-right-radius: var(--main-content-corner-radius);
  grid-area: var(--main-content-item-grid-area);
  z-index: 2;
  overflow: var(--content-overflow);
}

.content-toolbar {
  position: sticky;
  top: var(--toolbar-sticky-top-offset);
  height: var(--toolbar-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .menu-toolbar, .temperature-units-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(0.5 * var(--toolbar-height));
  }
  
  .menu-btn {
    display: var(--menu-btn-display);
  }

  .menu-btn, .theme-mode-btn, .temperature-unit-btn {
    @include general.rounded-toolbar-btn;

    color: var(--radio-btn-unchecked-text-color);
    border: 1px solid var(--side-panel-background);
  }

  .temperature-unit-btn {
    font-size: var(--small-text);
    font-weight: bold;
  }
  
  .theme-mode-btn[data-toggled='true'], .temperature-unit-btn[data-toggled='true'] {
    background-color: var(--radio-btn-checked-background);
    color: var(--radio-btn-checked-text-color);
  }

  @include general.toolbar-btn-hover;
}

.forecast-title {
  font-size: var(--regular-text);
  font-weight: bold;
  text-align: center;
  color: var(--main-text-color);
}

.weak-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: calc(var(--content-grid-gap-ratio) * var(--contentOffset));

  .day-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 13rem;
    min-height: 22rem;
    padding: calc(0.5 * var(--contentOffset));
    background-color: var(--forecast-card-background);
    border-radius: var(--small-radius);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

    img {
      transform: scale(0.65, 0.65);
    }

    .day-forecast-temperature {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--contentOffset);
      width: 100%;

      .max-temperature, .min-temperature {
        font-size: var(--regular-text);
        font-weight: bold;

        span {
          font-size: var(--small-text);
        }
      }

      .max-temperature {
        color: var(--main-text-color);
      }

      .min-temperature {
        color: var(--second-text-color);
      }
    }
  }
}

.current-day-forecast-title {
  font-size: var(--title-text);
  font-weight: bold;
  color: var(--main-text-color);
}

.current-day-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: calc(var(--content-grid-gap-ratio) * var(--contentOffset));
  padding-bottom: calc(0.5 * var(--contentOffset));

  .weather-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 26rem;
    min-height: 20rem;
    padding: calc(0.5 * var(--contentOffset));
    background-color: var(--forecast-card-background);
    border-radius: var(--small-radius);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

    .value {
      font-size: 6.4rem;
      font-weight: bold;
      text-align: center;
      color: var(--main-text-color);
      padding-bottom: 10px;
      span {
        font-size: 2.4rem;
      }
    }

    .description {
      height: 4rem;
      font-size: var(--regular-text);
      font-weight: bold;
      text-align: center;
      color: var(--main-text-color);

      span {
        height: 3rem;
        width: 3rem;
        font-size: 1.5rem;
        background-color: var(--panel-btn-background);
        border-radius: 1.5rem;
        text-align: center;
        padding-top: 9px;
        margin-right: calc(0.5 * var(--contentOffset));
      }
    }

    .progress-bar-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: var(--second-text-color);
      font-size: var(--small-text);
      font-weight: bold;

      .progress-bar-values {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--second-text-color);
      }

      .progress-bar-outer {
        height: 0.8rem;
        width: 100%;
        background-color: var(--progress-bar-background);
        border-radius: 0.4rem;

        .progress-bar-inner {
          width: 75%;
          height: 0.8rem;
          background-color: var(--light-yellow);
          border-radius: 0.4rem;
        }
      }

      p {
        color: var(--second-text-color);
        text-align: end;
      }
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 7px solid var(--semi-white);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--semi-white) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
