main {
  display: var(--main-content-display);
  grid: [stacked] 1fr / min-content [stacked] 1fr;
  flex-direction: column;
  height: var(--main-content-height);
  width: var(--main-content-width);
  margin: var(--main-content-margin);
  border-radius: var(--main-content-corner-radius);
  box-shadow: -2px 2px 7px 2px var(--main-content-shadow-color);
  background-color: var(--main-content-background);
}