@use 'reset';
@use 'values/colors';
@use 'values/variables';
@use 'side-panels/side-panels-containers';
@use 'content';

@font-face {
  font-family: raleway;
  src: url("../resources/fonts/raleway.ttf");
}

button, input {
  font-family: raleway, sans-serif;
}

::placeholder {
  color: var(--alternative-text-color);
  opacity: 1;
  font-weight: 100;
}

html {
  font-family: raleway, sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--body-background);
}

main {
  display: var(--main-content-display);
  grid: [stacked] 1fr / min-content [stacked] 1fr;
  flex-direction: column;
  height: var(--main-content-height);
  width: var(--main-content-width);
  margin: var(--main-content-margin);
  border-radius: var(--main-content-corner-radius);
  box-shadow: -2px 2px 7px 2px var(--main-content-shadow-color);
  background-color: var(--main-content-background);
  overflow: var(--main-content-overflow);
}