doctype
- const style = "app.scss"
- const iconFont = "https://fonts.googleapis.com/icon?family=Material+Icons"
- const appScript = "app.js"

html(lang="en", data-theme="dark")
  include $blocks/head/_head
  +head(style, iconFont, appScript)

  include $blocks/body/_body