ul.sp__result-list
  li.sp__result-list-item.secondary-text London
    span.material-icons.sp__result-list-icon arrow_forward_ios

  li.sp__result-list-item.secondary-text Barcelona
    span.material-icons.sp__result-list-icon arrow_forward_ios
    
  li.sp__result-list-item.secondary-text Long Beach
    span.material-icons.sp__result-list-icon arrow_forward_ios