:root {
  --dark-blue: #100E1D;
  --middle-blue: #161629;
  --semi-blue: #1E213A;
  --gray-blue: #585676;
  --light-blue: #2e3264;
  --contrast-blue: #3C47E9;
  --semi-white: #E7E7EB;
  --light-gray: #A09FB1;
  --semi-gray: #88869D;
  --dark-gray: #6E707A;
  --light-yellow: #FFEC65;
  --dark-silver: #b5b5bb;
  --middle-silver: #cacad0;
  --silver: #ccccd4;

  --semi-blue-transparent: rgba(30, 33, 58, 0.95);
  --silver-transparent: rgb(204, 204, 212, 0.70);
}

:root[data-theme='light'] {
  --body-background: var(--middle-silver);
  
  --main-content-background: var(--semi-white);
  --main-content-shadow-color: var(--dark-silver);
  
  --side-panel-background: var(--silver);
  --side-panel-background-transparent: var(--silver-transparent);

  --main-text-color: var(--light-blue);
  --second-text-color: var(--gray-blue);  
  --alternative-text-color: var(--semi-gray);
  --radio-btn-checked-text-color: var(--semi-white);
  --radio-btn-unchecked-text-color: var(--dark-blue);

  --panel-btn-background: var(--semi-gray);
  --btn-text-color: var(--semi-white);
  --radio-btn-checked-background: var(--gray-blue);
  --radio-btn-unchecked-background: var(--semi-white);

  --forecast-card-background: var(--silver);

  --progress-bar-background: var(--semi-white);
}

:root[data-theme='dark'] {
  --body-background: var(--middle-blue);
  
  --main-content-background: var(--dark-blue);
  --main-content-shadow-color: var(--dark-blue);

  --side-panel-background: var(--semi-blue);
  --side-panel-background-transparent: var(--semi-blue-transparent);

  --main-text-color: var(--semi-white);
  --second-text-color: var(--light-gray);
  --alternative-text-color: var(--semi-gray);
  --radio-btn-checked-text-color: var(--semi-white);
  --radio-btn-unchecked-text-color: var(--dark-blue);

  --panel-btn-background: var(--dark-gray);
  --btn-text-color: var(--semi-white);
  --radio-btn-checked-background: var(--gray-blue);
  --radio-btn-unchecked-background: var(--semi-white);

  --forecast-card-background: var(--semi-blue);
  
  --progress-bar-background: var(--semi-white);
}