:root {
  --contentOffset: 30px;
  --toolbar-height: 40px;
  --small-radius: 0.5rem;

  --huge-text: 6.4rem;
  --middle-text: 3.2rem;
  --plain-text: 1.8rem;
  --regular-text: 1.6rem;
  --small-text: 1.4rem;

  --main-content-corner-radius: 10px;
  --main-content-width: 1368px;
  --main-content-height: 864px;
  --main-content-margin: auto;
  --main-content-item-grid-area: auto;
  --main-content-display: grid;
  --main-content-overflow: none;

  --side-panels-container-width: 414px;
  --side-panel-width: 414px;
  --side-panel-height: 100%;
  --side-panel-close-link-width: 0px;
  --side-panels-container-transform: translateX(0);
  --side-panel-close-btn-display: none;

  --content-horizontal-padding-ratio: 2;
  --content-grid-gap-ratio: 1;
  --content-overflow: none;

  --toolbar-grid-column-template: 1fr auto;
  --toolbar-sticky-top-offset: 0;

  --menu-btn-display: none;

  --side-panel-transition: transform 350ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media only screen and (max-width: 1368px), (max-height: 864px) {
  :root {
    --main-content-corner-radius: 0px;
    --main-content-width: 100%;
    --main-content-height: 100vh;
    --main-content-margin: 0px;
    --main-content-overflow: none;

    --content-overflow: auto;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    --main-content-item-grid-area: stacked;
    --main-content-overflow: none;

    --side-panels-container-width: 100%;
    --side-panel-close-link-width: 100%;
    --side-panels-container-transform: translateX(-110vw);
    --side-panel-close-btn-display: inline-block;

    --content-overflow: auto;

    --toolbar-grid-column-template: 1fr auto auto;

    --menu-btn-display: inline;
  }
}

@media only screen and (max-width: 414px) {
  :root {
    --main-content-display: flex;
    --main-content-overflow: auto;

    --side-panel-width: 100%;
    --side-panel-height: 100vh;
    --side-panels-container-width: 100%;
    --side-panel-close-link-width: 0px;
    --side-panels-container-transform: translateX(0);
    --side-panel-close-btn-display: none;

    --content-horizontal-padding-ratio: 0.5;
    --content-grid-gap-ratio: 0.5;
    --content-overflow: none;

    --toolbar-grid-column-template: 1fr auto;
    --toolbar-sticky-top-offset: calc(0.5 * var(--contentOffset));

    --menu-btn-display: none;
  }
}