.wp__temperature {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-grow: 1;
}

.wp__temperature-value {
  align-self: center;
  font-size: 11rem;
}

.wp__temperature-unit {
  align-self: center;
  margin-left: 0.5rem;
  font-size: 3.25rem;
}