.wp__temperature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  p {
    text-align: center;
    font-size: 11rem;

    span {
      display: none;
      margin-left: 0.5rem;
      font-size: 3.25rem;
    }
  }
}