@mixin panel {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--contentOffset);
  background-color: var(--side-panel-background);
  border-top-left-radius: var(--main-content-corner-radius);
  border-bottom-left-radius: var(--main-content-corner-radius);
}

@mixin toolbar-btn {
  background-color: var(--btn-background);
  color: var(--btn-text-color);
  border: none;
}

@mixin rounded-toolbar-btn {
  font-size: 2.2rem;
  width: var(--tool-bar-height);
  height: var(--tool-bar-height);
  border-radius: calc(0.5 * var(--tool-bar-height));
}

@mixin toolbar-btn-hover {
  button:hover {
    filter: brightness(85%);
  }

  button:active {
    filter: brightness(70%);
  }
}