@use 'base-panel';
@use '../general';

.search-panel {
  @include base-panel.panel;

  gap: var(--contentOffset);
  transform: rotateY(180deg);

  .search-bar {
    display: flex;
    gap: var(--contentOffset);
    justify-content: space-between;
    
    .search-input {
      box-sizing: content-box;
      width: 100%;

      border: 1.5px solid var(--alternative-text-color);
      border-radius: var(--small-radius);
      color: var(--main-text-color);
      font-size: var(--regular-text);
      padding: 0 15px;
      background-color: transparent;
    }

    .search-input:focus {
      outline: 0.1px solid var(--alternative-text-color);
      font-weight: bold;
    }
    
    .swap-panel-btn {
      @include base-panel.toolbar-btn;
      @include general.rounded-toolbar-btn;

      flex: 0 0 var(--toolbar-height);
    }
  }

  .city-list {
    --forward-icon-visibility: hidden;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      color: var(--second-text-color);
      font-size: var(--regular-text);
      border-radius: var(--small-radius);
      height: 6rem;
      line-height: 6rem;
      padding: 0 15px;

      .forward-icon {
        visibility: var(--forward-icon-visibility);
        align-self: center;
        font-size: var(--small-text);
      }
    }

    li:hover {
      --forward-icon-visibility: visible;

      color: var(--main-text-color);
      border: 1.5px solid var(--second-text-color);
    }

    li:active {
      --forward-icon-visibility: visible;

      color: var(--main-text-color);
      outline: 1.5px solid var(--second-text-color);
    }
  }

  @include general.toolbar-btn-hover;
}