@use 'weather-panel';
@use 'search-panel';

.side-panels-container {
  display: flex;
  height: 100%;
  width: var(--side-panels-container-width);
  grid-area: var(--main-content-item-grid-area);
  border-top-left-radius: var(--main-content-corner-radius);
  border-bottom-left-radius: var(--main-content-corner-radius);
  transform: var(--side-panels-container-transform);
  transition: var(--side-panel-transition);
  z-index: 3;
  perspective: 1500px;
}

.side-panels-inner {
  position: relative;
  width: 100%;
  height: var(--side-panel-height);
  flex: 0 0 var(--side-panel-width); 
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  perspective: 1500px;
}

.side-panel-close-link {
  height: 100%;
  width: var(--side-panel-close-link-width);
}

#open-side-panel:target {
  --side-panels-container-transform: 0;
  transition: var(--side-panel-transition);
}