@use 'base-panel';
@use '../general';

.weather-panel {
  @include base-panel.panel;

  .tool-bar {
    flex: 0 0 var(--tool-bar-height);
    display: grid;
    grid-template-rows: var(--tool-bar-height);
    grid-template-columns: var(--toolbar-grid-column-template);
    column-gap: calc(0.5 * var(--tool-bar-height));
    justify-content: space-between;

    .search-btn {
      @include base-panel.toolbar-btn;

      max-width: 16rem;
      font-size: var(--regular-text);
      border-radius: 0.5rem;
    }

    .location-btn, .close-btn {
      @include base-panel.toolbar-btn;
      @include base-panel.rounded-toolbar-btn;
    }

    .close-btn {
      display: var(--side-panel-close-btn-display);
    }

    @include base-panel.toolbar-btn-hover;
  }

  .weather-pics {
    @include general.flex-center;
    flex-grow: 1.5;
    margin: 0px calc(-1 * var(--contentOffset));
    background: linear-gradient(
      var(--side-panel-background-transparent) 100%,
      var(--side-panel-background-transparent) 100%
    ),
      url("../resources/images/cloud_background.png");
    background-size: 150%;
    background-position: 50% 20%;
    background-repeat: no-repeat;

    img {
      transform: scale(0.75, 0.75);
    }
  }

  .main-temperature {
    @include general.flex-center;
    flex-grow: 1;

    p {
      font-size: 11rem;
      color: var(--main-text-color);

      span {
        font-size: 3.25rem;
        color: var(--second-text-color);
      }
    }
  }

  .main-temperature-description {
    @include general.flex-center;
    flex-grow: 1;
    letter-spacing: 0.15rem;
    font-size: var(--middle-text);
    font-weight: 600;
    color: var(--second-text-color);
    margin-bottom: 2.5rem;
  }

  $text-height: 5rem;
  .today-date {
    @include general.flex-center;
    flex: 0 0 $text-height;

    p {
      margin: 0 5px;
      font-size: var(--regular-text);
      color: var(--semi-gray);
    }
  }

  .location {
    @include general.flex-center;
    vertical-align: center;

    flex: 0 0 $text-height;

    .location-icon {
      color: var(--alternative-text-color);
    }

    .city {
      font-size: var(--plain-text);
      color: var(--alternative-text-color);
      vertical-align: 0.5rem;
    }
  }
}