div.details.grid-child-layout
  include $blocks/details/toolbar/_d__toolbar
  include $blocks/details/weak-forecast/_d__weak-forecast
  h2.details-hightlights-title.primary-text Today’s Highlights
  include $blocks/details/highlights/_d__highlights
  include $blocks/details/creators/_d__creators