aside.panels-container.grid-child-layout(id="open-side-panel")
  div.panels-container__inner
    include $blocks/panels/weather/_weather-panel
    include $blocks/panels/search/_search-panel

  a.panels-container__close-link(href="#", onclick="window.history.back()")